importFrom("stats","var","sd", "approxfun","integrate","lm")
importFrom("utils","read.table")
export("Run_WebFlood")
export("tr")
export("my.read.table")
export("calc_stats")
export("fncols")
export("PKGENVIR")
export("PreconeCP")
export("PrectwoCP")
export("eventsep")
export("voronoiinterpolation")
export("create_voronoi")
export("min_max_coordinates")
import("spatstat")
import("progress")
